# Created by https://www.gitignore.io/api/bower,codeigniter,composer,linux,osx,netbeans,windows
# Modified by Phạm Tiến Thành @ D13HT01

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
vendor/bower/*
vendor/bower/index.html
vendor/bower/.htaccess


### CodeIgniter ###
application/config/development
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/data/*
!application/data/index.html
!application/data/.htaccess


### Composer ###
composer.phar
vendor/*
vendor/index.html
vendor/.htaccess

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
backup/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
