{# Master Page #}
{% extends 'system/admin_master_page.html' %}

{% block head %}{{ parent() }}
<!-- MetisMenu CSS -->
<link href="{{ base_url('vendor/bower/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
<link href="{{ base_url('assets/css/sb-admin-2.css') }}" rel="stylesheet">
<link href="{{ base_url('vendor/bower/jquery-easyui-1.4.3/themes/default/easyui.css') }}" rel="stylesheet">
<link href="{{ base_url('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Phần đầu trang #}
{% block body_head %}{% include 'layout/admin_body_head.html' %}{% endblock %}

{# Nội dung trang #}
{% block body_content %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Catalog Xe</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<table id="ci_datatable" class="easyui-datagrid" style="height: 400px;"></table>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{# Phần chân trang #}
{% block body_footer %}{% include 'layout/admin_body_footer.html' %}{% endblock %}

{% block footer %}{{ parent() }}
<!-- Metis Menu Plugin JavaScript -->
<script src="vendor/bower/metisMenu/dist/metisMenu.min.js"></script>
<script src="{{ base_url('assets/js/sb-admin-2.js') }}"></script>
<script src="vendor/bower/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>

<script>
$('#ci_datatable').datagrid({
	title: 'Danh mục Xe',
	url: '{{ site_url('car/ajax_car_catalog') }}',
	rownumbers: true,
	pagination: true,
	pageSize: 15,
	pageList: [10, 15, 20, 25, 30, 40, 50],
	sortName: 'cid',
	sortOrder: 'asc',
	columns: [[
		{field: 'cid', title: 'Số hiệu', width: 50, align: 'center', sortable: 'true'},
		{field: 'license_plate', title: 'Biển số', width: 300, align: 'center', sortable: 'true'},
		{field: 'name', title: 'Nhà sản xuất', width: 300, sortable: 'true'}
	]],
});
</script>

{% endblock %}