{# Master Page #}
{% extends 'system/admin_master_page.html' %}

{% block head %}{{ parent() }}
<link href="{{ base_url('vendor/bower/jquery-easyui-1.4.3/themes/default/easyui.css') }}" rel="stylesheet">
<link href="{{ base_url('vendor/bower/jquery-easyui-1.4.3/themes/icon.css') }}" rel="stylesheet">
<link href="{{ base_url('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Phần đầu trang #}
{% block body_head %}{% include 'layout/admin_body_head.html' %}{% endblock %}

{# Nội dung trang #}
{% block body_content %}
<div class="container-fluid">
	<!-- Stack the columns on mobile by making one half-width and the other full-width -->
	<div class="row">
		<div class="col-xs-3 col-md-3">
			{% include 'layout/car_sidebar_left.html' %}
		</div>
		<div class="col-xs-9 col-md-9">
			<!-- BEGIN: Employees DataGrid -->
			<table id="ci_datatable" class="easyui-datagrid" style="width: 100%; height: 450px;"></table>
			<div id="ci_datatable_toolbar">
				<a id="ci_datatable_add" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true">Thêm</a>
				<a id="ci_datatable_edit" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true">Sửa</a>
				<a id="ci_datatable_delete" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">Xóa</a>
			</div>
			<!-- END: Employees DataGrid -->
		</div>
	</div>
</div>
{% endblock %}

{# Phần chân trang #}
{% block body_footer %}{% include 'layout/admin_body_footer.html' %}{% endblock %}

{% block footer %}{{ parent() }}
<script src="{{ base_url('vendor/bower/jquery-easyui-1.4.3/jquery.easyui.min.js') }}"></script>
<script src="{{ base_url('vendor/bower/jquery-easyui-1.4.3/locale/easyui-lang-vi.js') }}"></script>
<script src="{{ base_url('vendor/bower/datagrid-filter/datagrid-filter.js') }}"></script>

<script>
$(function(){
	// Cập nhật Navbar
	var navbar_id = 'car';
	$('#ci_navbar_home').removeClass('active');
	$('#ci_navbar_' + navbar_id).addClass('active');

	var dg = $('#ci_datatable').datagrid({
		title: 'Danh mục Xe',
		toolbar: '#ci_datatable_toolbar',
		url: '{{ site_url('car/ajax_car_catalog') }}',
		rownumbers: true,
		pagination: true,
		pageSize: 15,
		pageList: [10, 15, 20, 25, 30, 40, 50],
		sortName: 'cid',
		sortOrder: 'asc',
		fitColumns: true,
		columns: [[
			{field: 'cid', title: 'Số hiệu', width: 50, align: 'center', sortable: 'true'},
			{field: 'license_plate', title: 'Biển số', width: 300, align: 'center', sortable: 'true'},
			{field: 'name', title: 'Nhà sản xuất', width: 300, sortable: 'true'}
		]],
	});

	// Toolbar
	// Thêm nhân viên
	$('#ci_datatable_add').click(function (ev) {
		ev.preventDefault();
		
		window.location.href = '{{ site_url('car/add') }}';
	});

	$('#ci_datatable_edit').click(function (ev) {
		ev.preventDefault();

		var row = dg.datagrid('getSelected');
		if (row){
			window.location.href = '{{ site_url('car/edit') }}/' + row.cid;
		}
	});

	$('#ci_datatable_delete').click(function (ev) {
		ev.preventDefault();
		
		var row = dg.datagrid('getSelected');
		if (row){
			$.messager.confirm('Xác nhận xóa xe ' + row.license_plate,'Bạn có chắc xóa xe mang biển số ' + row.license_plate + ' này không?', function(r){
				if (r){
					var win = $.messager.progress({
						title:'Chờ tí',
						msg:'Hệ thống đang xử lý yêu cầu của bạn chờ tí nhé...'
					});
				
					$.ajax({
						method: 'post',
						data: {
							cid: row.cid
						},
						url: '{{ site_url('car/ajax_delete_car') }}',
						dataType: 'json',
						success: function (response) {
							if (response.status == 1){
								dg.datagrid('reload');

								setTimeout(function(){
									$.messager.show({
										title: 'Hệ thống',
										msg: 'Xong! Xe "' + row.license_plate + '" đã bị xóa hoàn toàn!'
									});
								},10);
							} else {
								$.messager.show({
									title: 'Lỗi E[' + response.status + ']',
									msg: response.message
								});
							}

							$.messager.progress('close');
						},
						error: function (xhr, ajaxOptions, thrownError) {
							$.messager.progress('close');

							setTimeout(function(){
								$.messager.show({
									title: 'Lỗi',
									msg: 'Lỗi kết nối tới máy chủ'
								});
							},10);
						}
					});
				}
			});
		}
		else
		{
			$.messager.show({
				title: 'Lỗi',
				msg: 'Hãy chọn 1 dòng sau đó mới xóa được!'
			});
		}
	});
});
</script>

{% endblock %}