{# Master Page #}
{% extends 'system/admin_master_page.html' %}

{% block head %}{{ parent() }}
<link href="{{ base_url('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Phần đầu trang #}
{% block body_head %}{% include 'layout/admin_body_head.html' %}{% endblock %}

{# Nội dung trang #}
{% block body_content %}
<div class="container-fluid">
	<!-- Stack the columns on mobile by making one half-width and the other full-width -->
	<div class="row">
		<div class="col-xs-3 col-md-3">
			{% include 'layout/employees_sidebar_left.html' %}
		</div>
		<div class="col-xs-9 col-md-9">
			<!-- BEGIN: Biểu mẫu thêm nhân viên mới -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Xóa nhân viên</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-danger" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4><b><i class="fa fa-exclamation-triangle"></i> Cảnh báo!</b></h4><br>
						Việc xóa dữ liệu này sẽ xóa hoàn toàn các dữ liệu liên quan, hãy cân nhắc trước khi sử dụng tính năng này!<br>
						Sử dụng tính năng đình chỉ tài khoản để tránh ảnh hưởng tới các dữ liệu có liên quan tới nhân viên định xóa.
					</div>
					{% if user_id is empty %}
					{% include 'layout/form_employees_input_userid.html' %}
					{% else %}
						{% if message %}
						<div class="alert alert-success" role="alert">
							<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
							<span class="sr-only">Thông báo:</span>
							{{ message|raw }}
							<br>
							<button class="btn btn-success" type="button" onclick="window.history.back();"><i class="fa fa-backward fa-fw"></i> Quay lại</button>
						</div>
						{% elseif error_message %}
						<div class="alert alert-danger" role="alert">
							<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
							<span class="sr-only">Lỗi:</span>
							{{ error_message|raw }}
						</div>
						{% else %}
						<div class="alert alert-warning" role="alert">
							<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
							<h4><b><i class="fa fa-exclamation-triangle"></i> Xác nhận!</b></h4><br>
							Thao thác không an toàn.
							<form method="post">
								<input type="hidden" name="confirm" value="1">
								<button class="btn btn-success" type="button" onclick="window.history.back();"><i class="fa fa-backward fa-fw"></i> Quay lại</button>
								<button class="btn btn-primary" type="submit"><i class="fa fa-arrow-circle-o-right"></i> Tiếp tục</button>
							</form>
						</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
			<!-- END: Add employees form -->
		</div>
	</div>
</div>
{% endblock %}

{# Phần chân trang #}
{% block body_footer %}{% include 'layout/admin_body_footer.html' %}{% endblock %}

{% block footer %}{{ parent() }}
<script>
	$(function () {
		// Cập nhật Navbar
		var navbar_id = 'employees';
		$('#ci_navbar_home').removeClass('active');
		$('#ci_navbar_' + navbar_id).addClass('active');

		// Cập nhật Sidebar
		var sidebar_id = 'delete';
		$('#ci_sidebar_left_employees_view').removeClass('active');
		$('#ci_sidebar_left_employees_' + sidebar_id).addClass('active');
	});
</script>

{% endblock %}