{# Master Page #}
{% extends 'system/admin_master_page.html' %}

{% block head %}{{ parent() }}
<link href="{{ base_url('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Phần đầu trang #}
{% block body_head %}{% include 'layout/admin_body_head.html' %}{% endblock %}

{# Nội dung trang #}
{% block body_content %}
<div class="container-fluid">
	<!-- Stack the columns on mobile by making one half-width and the other full-width -->
	<div class="row">
		<div class="col-xs-3 col-md-3">
			{% include 'layout/schedule_sidebar_left.html' %}
		</div>
		<div class="col-xs-9 col-md-9">
			<!-- /.row -->
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-lg-12">
							<h1 class="page-header">Lịch biểu <small>Tháng {{ sel_month ~ '/' ~ sel_year }}</small></h1>
							<p>Chọn ngày ở dưới đây để xem phân công chi tiết cho từng ngày</p>
							<hr>
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>CN</th>
							<th>T2</th>
							<th>T3</th>
							<th>T4</th>
							<th>T5</th>
							<th>T6</th>
							<th>T7</th>
						</tr>
					</thead>
					<tbody>
					{% for week in calendar %}
					<tr>
						<th scope="row">{{ week.week }}</th>
						{% for day in week.rows %}
						{% if day == 'x'%}<td></td>{% else %}<td align="center"><a href="{{ site_url('schedule/details/' ~ sel_year ~ '/' ~ sel_month ~ '/' ~ day) }}">{{ day }}</a></td>{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Tháng</h3>
						</div>
						<!--<div class="panel-body">Chọn tháng để hiển thị</div>-->
						<!-- List group -->
						<ul id="month-list" class="list-group" style="overflow:scroll; height:250px;">
							{% for i in 1 .. 12 %}
							<a href="{{ site_url('schedule/index/' ~ sel_year ~ '/' ~ i) }}" class="list-group-item{% if i == sel_month %} active{% endif %}">{{ i }}</a>
							{% endfor %}
						</ul>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Năm</h3>
						</div>
						<!--<div class="panel-body">Chọn năm để hiển thị</div>-->
						<!-- List group -->
						<ul class="list-group">
							{% for i in min_year .. max_year %}
							<a href="{{ site_url('schedule/index/' ~ i ~ '/' ~ sel_month) }}" class="list-group-item{% if i == sel_year %} active{% endif %}">{{ i }}</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
</div>
{% endblock %}

{# Phần chân trang #}
{% block body_footer %}{% include 'layout/admin_body_footer.html' %}{% endblock %}

{% block footer %}{{ parent() }}
<script>
$(function(){
	// Cập nhật Navbar
	var navbar_id = 'schedule';
	$('#ci_navbar_home').removeClass('active');
	$('#ci_navbar_' + navbar_id).addClass('active');

	// Cuộn danh sách tháng
	$('#month-list').scrollTop(250*({{ sel_month }}/12));
});
</script>

{% endblock %}