{# Master Page #}
{% extends 'system/admin_master_page.html' %}

{% block head %}{{ parent() }}
<link href="{{ base_url('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{# Phần đầu trang #}
{% block body_head %}{% include 'layout/admin_body_head.html' %}{% endblock %}

{# Nội dung trang #}
{% block body_content %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{{ site_url() }}">Trang chủ</a></li>
		<li><a href="{{ site_url('user') }}">Tài khoản</a></li>
		<li class="active">Thay đổi mật khẩu</li>
	</ol>

	<div class="page-header">
		<h1>Thay đổi mật khẩu <small>Mật khẩu nên được đặt cẩn thận!</small></h1>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div id="validation-errors" style="display:none"></div>
			<!-- BEGIN: Form thay đổi mật khẩu -->
			<form id="ci_form" class="form-horizontal" action="{{ site_url('user/ajax_change_password') }}" method="post">
				<div class="form-group">
					<label for="ci_form_user_uid" class="col-sm-3 control-label">UID</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="ci_form_user_uid" value="{{ CI.session.userdata('ci_user') }}" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="ci_form_password_old" class="col-sm-3 control-label">Mật khẩu cũ</label>
					<div class="col-sm-9">
						<input name="password_old" type="password" class="form-control" id="ci_form_password_old" placeholder="Nhập mật khẩu cũ" required>
					</div>
				</div>
				<div class="form-group">
					<label for="ci_form_password_new" class="col-sm-3 control-label">Mật khẩu mới</label>
					<div class="col-sm-9">
						<input name="password_new" type="password" class="form-control" id="ci_form_password_new" placeholder="Nhập mật khẩu mới" required>
					</div>
				</div>
				<div class="form-group">
					<label for="ci_form_password_confirm" class="col-sm-3 control-label">Nhập lại</label>
					<div class="col-sm-9">
						<input name="password_confirm" type="password" class="form-control" id="ci_form_password_confirm" placeholder="Nhập lại mật khẩu mới một lần nữa" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-6">
						<button id="btn-submit" type="submit" class="btn btn-warning" data-loading-text="Đang xử lý..."><i class="fa fa-pencil-square-o"></i> Gửi</button>
					</div>
				</div>
			</form>
			<!-- END: Form thay đổi mật khẩu -->
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}

{# Phần chân trang #}
{% block body_footer %}{% include 'layout/admin_body_footer.html' %}{% endblock %}

{% block footer %}{{ parent() }}
<script>
	$(function () {
		$('#ci_form').on('submit', function (e) {
			e.preventDefault;
			var btn = $('#btn-submit');
			btn.button('loading');
			$.ajax({
				type: 'post',
				url: $('#ci_form').attr('action'),
				cache: false,
				dataType: 'json',
				data: $('#ci_form').serialize(),
				beforeSend: function () {
					$('#validation-errors').hide().empty();
				},
				success: function (data) {
					if (data.status == false) {
						$('#validation-errors').append('<div class="alert alert-warning"><strong>' + data.message + '</strong><div>');
						$('#validation-errors').show();
						btn.button('reset');
					} else {
						$('#validation-errors').html('<div class="alert alert-success">Đổi mật khẩu xong! Hệ thống sẽ chuyển hướng bạn về bảng điều khiển...<div>');
						$('#validation-errors').show();
						location.reload();
					}
				},
				error: function (xhr, textStatus, thrownError) {
					$('#validation-errors').append('<div class="alert alert-danger"><strong>Có lỗi gì đó đã xảy ra, hãy thử lại...</strong><div>');
					$('#validation-errors').show();
					btn.button('reset');
				}
			});
			return false;
		});
	});
</script>
{% endblock %}