html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

label, .control-label, .help-block, .checkbox, .radio {
	font-size: 14px;
}

.bg-primary a {
	color: white;
}