<!--
 Chương trình quản lý Taxi
 Thiết kế bởi nhóm 1 lớp D13HT01
 Bao gồm các thành viên
 Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
-->

<!-- BEGIN: Sidebar -->
<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
	<li role="presentation" class="active"><a href="#"><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a></li>
	<li role="presentation" class=""><a href="{{ site_url('admin/employees') }}"><i class="fa fa-users fa-fw"></i> Danh Sách Nhân Viên</a></li>
	<li role="presentation" class=""><a href="{{ site_url('admin/cars') }}"><i class="fa fa-car fa-fw"></i> Danh Sách Xe</a></li>
	<li role="presentation" class=""><a href="{{ site_url('admin/schedule') }}"><i class="fa fa-calendar fa-fw"></i> Bảng phân công</a></li>
	<li role="presentation" class=""><a href="{{ site_url('admin/trip') }}"><i class="fa fa-road fa-fw"></i> Danh Sách Chuyến Đi</a></li>
	<li role="presentation" class=""><a href="{{ site_url('admin/stat') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Thống kê</a></li>
</ul>
<!-- END Sidebar -->