<!--
 Chương trình quản lý Taxi
 Thiết kế bởi nhóm 1 lớp D13HT01
 Bao gồm các thành viên
 Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
-->

<!-- BEGIN: Thanh điều hướng -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ci_navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="{{ site_url() }}">
				<i class="fa fa-taxi"></i>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="ci_navbar">
			<div>
				<ul class="nav navbar-nav">
					<li id="ci_navbar_home" class="active"><a href="{{ site_url() }}"><i class="fa fa-dashboard fa-fw"></i> Tổng quan</a></li>
					<li id="ci_navbar_user" ><a href="{{ site_url('user') }}"><i class="fa fa-users fa-fw"></i> Nhân sự</a></li>
					<li id="ci_navbar_car" ><a href="{{ site_url('car') }}"><i class="fa fa-car fa-fw"></i> Xe</a></li>
					<li id="ci_navbar_schedule" ><a href="{{ site_url('schedule') }}"><i class="fa fa-calendar fa-fw"></i> Phân công</a></li>
					<li id="ci_navbar_trip" ><a href="{{ site_url('trip') }}"><i class="fa fa-road fa-fw"></i> Chuyến đi</a></li>
					<li id="ci_navbar_stat" ><a href="{{ site_url('stat') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Thống kê</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li id="ci_navbar_about"><a href="{{ site_url('about') }}"><i class="fa fa-map-signs fa-fw"></i> Giới thiệu</a></li>
					<li id="ci_navbar_support"><a href="{{ site_url('support') }}"><i class="fa fa-support fa-fw"></i> Hỗ trợ</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Chào <b>{{ CI.session.userdata('user_name') }}</b> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ site_url('user/change_password') }}"><i class="fa fa-lock fa-fw"></i> Thay đổi mật khẩu</a></li>
							<li class="divider"></li>
							<!--<li class="dropdown-header"></li>-->
							<li><a href="{{ site_url('user/logout') }}"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- END: Thanh điều hướng -->