<footer class="footer">
	<div class="container-fluid">
		<hr>
		<div class="row">
			<div class="col-md-6">
				<p class="pull-left">Copyright &copy; 2013-2015 <a href="https://d13ht01.tk">D13HT01</a></p>
			</div>
			<div class="col-md-6">
				<p class="pull-right">Xử lý trong <strong>{elapsed_time}</strong> giây. {% if constant('ENVIRONMENT') == 'development' %}CodeIgniter <strong>{{ constant('CI_VERSION') }}</strong>{% endif %}</p>
				<p class="pull-right hidden-xs">Built with <i class="fa fa-heart text-danger"></i> by Hoàng Huy, Thái Sơn, <a href="https://github.com/tienthanh2509" target="_blank">Tiến Thành</a>, Thanh Thúy, Thanh Vân</p>
			</div>
		</div>
	</div>
</footer>