{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}
<ul class="nav nav-pills nav-stacked">
	<li id="ci_sidebar_left_car" role="presentation" class="active"><a href="{{ site_url('car') }}"><i class="fa fa-car"></i> Xe</a></li>
	<li id="ci_sidebar_left_car_view" role="presentation"><a href="{{ site_url('car/view') }}"><i class="fa fa-plus-circle"></i> Danh sách xe</a></li>
	<li id="ci_sidebar_left_car_add" role="presentation"><a href="{{ site_url('car/add') }}"><i class="fa fa-plus"></i> Thêm xe mới</a></li>
	<li id="ci_sidebar_left_car_edit" role="presentation"><a href="{{ site_url('car/edit') }}"><i class="fa fa-pencil"></i> Sửa thông tin xe</a></li>
	<li id="ci_sidebar_left_car_delete" role="presentation"><a href="{{ site_url('car/delete') }}"><i class="fa fa-trash"></i> Xóa xe</a></li>
</ul>