{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}
<ul class="nav nav-pills nav-stacked">
	<li id="ci_sidebar_left_employees_view" class="active" role="presentation"><a href="{{ site_url('employees') }}"><i class="fa fa-list"></i> Danh sách nhân viên</a></li>
	<li id="ci_sidebar_left_employees_add" role="presentation"><a href="{{ site_url('employees/add') }}"><i class="fa fa-user-plus"></i> Thêm nhân viên mới</a></li>
	<li id="ci_sidebar_left_employees_edit" role="presentation"><a href="{{ site_url('employees/edit') }}"><i class="fa fa-user-md"></i> Sửa thông tin nhân viên</a></li>
	<li id="ci_sidebar_left_employees_delete" role="presentation"><a href="{{ site_url('employees/delete') }}"><i class="fa fa-user-times"></i> Xóa nhân viên</a></li>
</ul>