{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}
<ul class="nav nav-pills nav-stacked">
	<li id="ci_sidebar_left_schedule" role="presentation" class="active"><a href="{{ site_url('schedule') }}"><i class="fa fa-calendar"></i> Lịch làm việc</a></li>
	<li id="ci_sidebar_left_schedule_view" role="presentation"><a href="{{ site_url('schedule/view') }}"><i class="fa fa-calendar-o"></i> Lịch biểu</a></li>
	<li id="ci_sidebar_left_schedule_add" role="presentation"><a href="{{ site_url('schedule/add') }}"><i class="fa fa-calendar-plus-o"></i> Thêm sự kiện mới</a></li>
	<li id="ci_sidebar_left_schedule_edit" role="presentation"><a href="{{ site_url('schedule/edit') }}"><i class="fa fa-calendar-check-o"></i> Sửa lịch biểu</a></li>
	<li id="ci_sidebar_left_schedule_delete" role="presentation"><a href="{{ site_url('schedule/delete') }}"><i class="fa fa-calendar-times-o"></i> Xóa lịch biểu</a></li>
</ul>