{#
Chương trình quản lý Taxi
Thiết kế bởi nhóm 1 lớp D13HT01
Bao gồm các thành viên
Hoàng Huy, Thái Sơn, Tiến Thành, Thanh Thúy, Thanh Vân
#}
<form class="form-horizontal" method="post">
	{% if message %}
	<div class="alert alert-success" role="alert">
		<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
		<span class="sr-only">Thông báo:</span>
		{{ message|raw }}
	</div>
	{% endif %}
	{% if error_message %}
	<div class="alert alert-danger" role="alert">
		<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
		<span class="sr-only">Lỗi:</span>
		{{ error_message|raw }}
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="ci_form_car_id" class="col-sm-4 control-label">Số hiệu <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="ci_form_car_id" name="ci_form_car_id" value="{{ set_value('ci_form_car_id', car.car_id) }}" readonly>
					<p class="help-block"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="ci_form_car_lp" class="col-sm-4 control-label">Biển số xe <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="ci_form_car_lp" name="ci_form_car_lp" value="{{ set_value('ci_form_car_lp', car.car_lp) }}">
					<p class="help-block"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="ci_form_model_id" class="col-sm-4 control-label">Mẫu xe <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="ci_form_model_id" name="ci_form_model_id">
						{% for model in model_list %}
						<option value="{{ model.model_id }}"{{ set_select('ci_form_model_id', model.model_id, model.model_id == car.model_id) }}>{{ model.model_name ~ ' - ' ~ model.manufacturer_name }}</option>
						{% endfor %}
					</select>
					<p class="help-block"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-8">
			<button class="btn btn-success" type="button" onclick="window.history.back();"><i class="fa fa-backward fa-fw"></i> Quay lại</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-pencil fa-fw"></i> Cập nhật</button>
		</div>
	</div>
</form>